/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	width: 1100px;
	margin: auto;
}

header {
	width: 1021px;;
	margin: auto;
}

header nav {
	display: inline-block;
	margin-top: 35px;
}
header img.logo {
	position: absolute;
	margin-top: 25px;
	margin-left: 60px;
}

header nav a {
	/* TB LR */
	margin: 0 35px;
	text-decoration: none;
	color: gray;
}

.first {
	padding-bottom: 106px;;
}
 
h1 {
	height: 198px;
}

button {
	background-color: white;
	color: black;
	border: 1px solid black;
	font-size: 18px;
	height: 40px;
	width: 180px;
}

.first .first-text {
	display: inline-block;
	font-size: 80px;
	text-align: center;
	margin-top: 130px;
	margin-left: 170px;
}

.first img {
	display: inline-block;
	margin-left: 120px;
	margin-bottom: -41px;
}

.main-content {
	margin: 0px 100px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.text-content {
	display: inline-block;
	padding-top: 45px;
	width: 447px;
	line-height: 1.1;
	margin-bottom: 42px;
}

.top-content {
	display: inline-block;
}

.bottom {
	width: 292px;
	padding-right: 41px;
}

.middle-img {
	width: 900px;
}
.contact {
	margin-top: 45px;
	margin-left: 101px;
	line-height: 2;
}

#no-break {
	line-height: 1.1;
	margin-bottom: 9px;
}

footer {
	margin: 55px 0 95px 0;
	text-align: center;
}
